.nav {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.topbar-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0%;
    border-radius: 0 0 10px 10px;
    background: var(--topbar-background);
    transition: 0.8s;
    color: var(--primary-text-color);
    z-index: 1;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.options {
    padding: 10px;
    background-color: transparent;
}

.options-ul {
    background-color: transparent;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
}

.options-ul a {
    background-color: transparent;
    text-decoration: none;
    color: var(--primary-text-color);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 500;
}

.options-ul a:hover {
    background-color: var(--secondary-background-color);
}

.topbar-topside {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.topbar-nav ul li a {
    display: flex;
    flex-direction: column;
}

.topbar-nav h2 a {
    background-color: transparent;
}

.inner-nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ul {
    display: flex;
    padding: 5px;
    margin-left: 10px;
    font-size: 24px;
}

.ul li {
    list-style: none;
}

.title {
    text-decoration: none;
    font-size: 28px;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.link:hover {
    border: 1px solid var(--hover-border-color);
    transition: 300ms;
}

.openmenubtn {
    display: none;
    margin: 0;
    padding: 5px;
    color: var(--primary-text-color);
    border-radius: 5px;
    background-image: var(--button-gradient);
}

.closemenubtn {
    margin: 0;
    padding: 5px;
    color: var(--primary-text-color);
    border-radius: 5px;
    background-image: var(--button-gradient);
}

@media (max-width:768px) {
    .inner-nav .ul {
        display: none;
    }
    .openmenubtn {
        display: inline;
    }
}
